body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:1000px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:30px;
  top:30px;
  width:1110px;
  height:1000px;
}
#u1 {
  position:absolute;
  left:2px;
  top:492px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN ExtraLight', '思源黑体 CN';
  font-weight:100;
  font-style:normal;
  text-align:center;
}
#u2 {
  position:absolute;
  left:400px;
  top:62px;
  width:400px;
  height:48px;
  font-family:'思源黑体 CN ExtraLight', '思源黑体 CN';
  font-weight:100;
  font-style:normal;
  text-align:center;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
